<p>
  <strong>Capasity:</strong>
  <%= @engine.capasity %>
</p>

<p>
  <strong>Power:</strong>
  <%= @engine.power %>
</p>
<%= link_to 'Back', engines_path %>
<%= link_to 'Edit', edit_engine_path(@engine) %>
